@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.project-card {
    width: 100%;
    padding: 0%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 2%;
}

.project-card img {
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    width: 100%;
    height: 200px;
}

.project-wrapper {
    text-decoration: none;
}

.project-wrapper-tittle {
    font-family: 'Roboto', sans-serif;
    background-color: #672901;
    color: white;
    font-size: 20px;
    margin-top: -2%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

.project-wrapper-tittle h3 {
    justify-self: center;
    text-align: center;
    margin-top: 0.5%;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
}