@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  /* background-color: #EEEDE7; */
  /* background-color: white; */
  background-color: #F9F1F0;
}

/* Home Page */
.project-space {
  margin: 1%;
}

.project-space .button {
  text-decoration: none;
  color: black;
}

.button:hover {
  color: #b9b9b9;
}

.vision {
  text-align: justify;
  display: flex;
  direction: row;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%
}

.vision-text {
  width: 50%;
  align-self: center;
  padding: 2%;
}

.vision-text h1 {
  font-size: 45px;
}

.vision-text p {
  font-size: 18px;
}

.vision-text .button {
  font-size: 18px;
}

.vision img {
  border-radius: 2%;
  height: auto;
  width: 50%;
}

.our-projects {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  padding-left: 2%
}

.our-projects h1 {
  font-size: 45px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
}

.project-card {
  border: transparent;
  width: 30%;
  height: 240px;
  text-decoration: none;
}

/* Project Page */
.project-page-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5%;
  margin-top: 0%;
  margin-right: -2%;
}
.project-page-wrapper .project-data-wrapper {
  width: 40%;
  padding: 2%;
}

.project-page-wrapper .project-image {
  height: cover;
  width: 60%;
}

.project-page-wrapper .project-image img {
  height: 100%;
  position: fixed;
}