@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.project-space {
  display: flex;
  direction: column;
  margin: 1%;
  justify-content: center;
}

#project-list {
  width: 30%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #EEEDE7;
}