@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

.button-area {
    display: flex;
    justify-content: space-between;
    padding: .5%;
    background: #672901;
    direction: row;
    width: 100%;
    margin: 0%;
    overflow: hidden;
  }

.website-name {
    font-size: 35px;
    font-weight: bolder;
    font-family: 'Syne Mono', monospace;
    color: white;
    padding-top: 5px;
    padding-left: 5px;
  }

.website-name:hover {
    color: #b9b9b9;
  }

.nav-link {
    display: flex;
    direction: row;
  }
  
.nav-item {
    color: white;
    text-decoration: none;
    font-family: 'Syne Mono', monospace;
    font-size: 20px;
    font-weight: bold;
    padding: 3px;
    border: solid;
    border-radius: 5px;
  }
  
.nav-item:hover {
    color: #b9b9b9;
    box-shadow: 0px 0px 36px #FFED86;
  }

.img-text-wrapper {
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 0 25px 0 20px;
  }

.home-button {
    margin-top: 15px;
  }

.logo-wrapper img {
    height: 50px
  }

.user {
  display: flex;
  direction: row;
  padding-right: 2%;
}

.user-img img{
  height: 40px;
  justify-content: center;
  justify-items: center;
  margin: 0 10px 0 10px;
}

.user-name {
  align-self: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding-bottom: 5px;
  font-family: 'Syne Mono', monospace;
}
